/*styles for side-menu content only*/
mat-list-item {
    padding: 0;
    margin-top: 0;
}

.side-menu > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-expansion-panel .mat-content span.title {
    padding: 4px 7px;
    font-size: 16px;
}

.expandable-panel .mat-expansion-panel-header {
    padding: 5px 20px 0 20px;
    height: 35px !important;
}

.expandable-panel .mat-expansion-panel-body {
    overflow: hidden;
}

.expandable-panel .mat-expansion-panel-body .mat-nav-list {
    padding: 0;
}

.expandable-panel .mat-expansion-panel-body .mat-nav-list .mat-list-item-content {
    padding: 0 5px !important;
}

.mat-nav-list .mat-list-item, .mat-expansion-panel {
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-nav-list .mat-list-item .mat-list-item-content {
    height: 36px !important;
}

.expandable-panel .mat-expansion-panel .mat-content span.title {
    padding: 7px 7px;
    font-size: 16px;
}


.mat-expansion-panel {
    box-shadow: none !important;
}

.no-border {
    border-bottom: none !important;
}

.last-item {
    margin-top: 20px !important;
}
