<mat-card class="resetPasswordCard">

    <mat-card-content>

        <!-- For user place his e-mail -->
        <form *ngIf="!submitted && resetPasswordEmailForm" [formGroup]="resetPasswordEmailForm" (ngSubmit)="onSubmitGetResetEmail()"
            layout="column">

            <mat-form-field class="full-width">

                <span matPrefix>
                    <mat-icon>mail_outline</mat-icon>
                </span>
                <input matInput formControlName="email" required placeholder="example@example.com">

                <mat-error *ngIf="email.invalid && email.dirty">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required') && (email.dirty || email.touched)">
                    Email is
                    <strong>required</strong>
                </mat-error>

            </mat-form-field>


            <mat-card-actions *ngIf="!submitted">

                <mat-grid-list>

                    <a mat-button routerLink="/login">LOGIN</a>

                    <div fxFlex></div>

                    <mat-grid-tile>
                        <button type="submit" [disabled]="!resetPasswordEmailForm.valid" mat-raised-button color="primary">
                            RESET
                        </button>
                    </mat-grid-tile>

                </mat-grid-list>

            </mat-card-actions>

        </form>

        <!-- Form where user choose his new password -->
        <form *ngIf="!submitted && resetPasswordForm"
              [formGroup]="resetPasswordForm"
              (ngSubmit)="onSubmitResetPassword()"
               layout="column">

            <mat-form-field class="full-width">

                <span matPrefix>
                    <mat-icon>mail_outline</mat-icon>
                </span>
                <input matInput formControlName="email" required placeholder="example@example.com">

                <mat-error *ngIf="email.invalid && email.dirty">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required') && (email.dirty || email.touched)">
                    Email is
                    <strong>required</strong>
                </mat-error>

            </mat-form-field>

            <mat-form-field class="full-width">

                <span matPrefix>
                    <mat-icon>lock_open</mat-icon>
                </span>
                <input matInput formControlName="password" required type="password" placeholder="Password">

                <mat-error *ngIf="password.hasError('minlength') && (password.dirty || password.touched)">
                    Password should have, at least, {{ password.errors.minlength.requiredLength }} characters.
                </mat-error>
                <mat-error *ngIf="password.hasError('required') && (password.dirty || password.touched)">
                    Password is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">

                <span matPrefix>
                    <mat-icon>lock_open</mat-icon>
                </span>
                <input matInput formControlName="password_confirmation" required type="password" placeholder="Password confirmation">

                <mat-error *ngIf="password_confirmation.hasError('equalTo') && (password_confirmation.dirty || password_confirmation.touched)">
                    The passwords doesn't match.
                </mat-error>

            </mat-form-field>

            <input formControlName="token"  type="hidden">

            <mat-card-actions *ngIf="!submitted">

                <mat-grid-list>

                    <a mat-button routerLink="/login">LOGIN</a>

                    <div fxFlex></div>

                    <mat-grid-tile>
                        <button type="submit" [disabled]="!resetPasswordForm.valid" mat-raised-button color="primary">
                            RESET
                        </button>
                    </mat-grid-tile>

                </mat-grid-list>

            </mat-card-actions>

        </form>

        <mat-progress-spinner *ngIf="submitted" mode="indeterminate"></mat-progress-spinner>
    </mat-card-content>

</mat-card>
